<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Routing number:</strong>
  <%= @account.routing_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Street address 1:</strong>
  <%= @account.street_address_1 %>
</p>

<p>
  <strong>Street address 2:</strong>
  <%= @account.street_address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @account.zip %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
